<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Quicksand&display=swap" rel="stylesheet">

    <!-- My Css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <title>Tasks App</title>
</head>
<body>
    <div id="root" class="app row row-vert align-start">
        <!-- header start -->
        <header class="row justify-center align-center">
            <h1>tasks</h1>
        </header>
        <!-- header end -->

        <!-- main start -->
        <main class="grow">
            <div class="container">

                <!-- add task popup start -->
                <div id="task-box" class="op-0">

                    <div class="row justify-between align-start">
                        <p class="add-task-title">Nuovo task</p>
                        <img class="close" @click="hideTaskBox()" src="img/cross.svg" alt="cross mark out svg">
                    </div>

                    <label for="Tags">Tags</label>
                    <select class="add-item" name="tag" id="tag">
                        <option value="" class="placeholder-select">Seleziona una tag</option>
                        <option :value="key" v-for="(item, key) in tags">{{item}}</option>
                    </select>

                    <label for="Tags">Nome Task</label>
                    <input class="add-item" type="text" name="newtask" id="newtask" v-model="newTask" @keyup.enter="addTask()" placeholder="Scrivi qui il tuo task">

                    <button @click="addTask(), hideTaskBox()">aggiungi task</button>
                </div>
                <!-- add task popup end -->

                <!-- layover start -->
                <div id="layover" class="lay-inactive">

                </div>
                <!-- layover end -->

                <!-- date start -->
                <div class="main-top">
                    <p class="day">{{ currentDay() }}</p>
                    <p class="month">{{ currentMonth() }}</p>
                </div>
                <!-- date end -->

                <!-- tasks container start -->
                <div class="main-bottom">
                    <ul class="tasks" v-if="tasks.length > 0">
                        <li class="row justify-between align-center" v-for="(item, index) in tasks">
                            {{ item }}
                            <input type="checkbox" @click="removeTask(index)">
                        </li>
                    </ul>
                    <h2 v-else>Non ci sono tasks</h2>
                </div>
                <!-- tasks container end -->
            </div>
        </main>
        <!-- main end -->

        <!-- footer start -->
        <footer class="row justify-center align-start self-end">
            <button class="add" @click="showTaskBox()">+</button>
        </footer>
        <!-- footer end -->
    </div>


    <!-- Script -->
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>